# Node.js dependencies
node_modules/
npm-debug.log
yarn.lock
package-lock.json

# Environment variables
.env

# Logs
logs/
*.log

# Editor & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build artifacts
dist/
build/
out/
scripts/

# Cache files
.cache/
.next/
coverage/

# TypeScript
*.tsbuildinfo
